.notFound {
    height:60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFound a { 
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--black);
    border: 2px solid var(--primary);
    padding: 1rem 5rem;
    transition-property: background-color;
    transition-duration: .3s;
}

.notFound a:hover{
    background-color: var(--primary);
    color: var(--white)
}